n8n/workflow/Create_TOEIC_reading_article.json
{
  "name": "Create TOEIC reading article",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "66549019-6176-4d1c-ba94-a1a16ea44777",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "name",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        980,
        0
      ],
      "id": "3b1a4e6e-4288-4773-a688-f2bfe3723f3f",
      "name": "MySQL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8120562-4cf7-420b-80da-c38353feeeb3",
              "name": "Title",
              "value": "={{   JSON.parse($json.output).Title  }}",
              "type": "string"
            },
            {
              "id": "36e3a5e2-7b2e-448e-aed2-6fe597e11e6e",
              "name": "Article",
              "value": "={{   JSON.parse($json.output).Article  }}",
              "type": "string"
            },
            {
              "id": "97468dda-9029-4f12-9a16-22d26bfa3794",
              "name": "Category",
              "value": "={{   JSON.parse($json.output).Category  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "5bb31555-675e-46de-bbf7-b843dcab6208",
      "name": "Article_Parser"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_oVehlQPLDyJhnaDZfemOYa6d",
          "mode": "list",
          "cachedResultName": "Create TOEIC reading article"
        },
        "prompt": "define",
        "text": "={{ $json['Source Prompt'] }} 類別為 {{ $json.Category }} 難度為 {{ $json.Difficulty }}",
        "memory": "threadId",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "169686e1-5233-4196-b73e-200f086c10f0",
      "name": "Article_Generator",
      "credentials": {
        "openAiApi": {
          "id": "6694NeDawMXKUL3Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "002520e4-844c-43be-9603-8bc65d381f63",
              "name": "Source Prompt",
              "value": "生成 TOEIC 考試的閱讀文章",
              "type": "string"
            },
            {
              "id": "d373d58e-6aeb-450c-97ef-d62a7168e88c",
              "name": "Category",
              "value": "Daily Life",
              "type": "string"
            },
            {
              "id": "16727dbf-fe19-4ecc-98c6-19b691417d67",
              "name": "Difficulty",
              "value": "Nornal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "90dd2f88-ea6d-4166-bcdf-2a8afea3f5d2",
      "name": "Input_Mapping",
      "alwaysOutputData": false,
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Input_Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article_Parser": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article_Generator": {
      "main": [
        [
          {
            "node": "Article_Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input_Mapping": {
      "main": [
        [
          {
            "node": "Article_Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bbfc6d05-f322-48f4-b20d-b27c3087f961",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9bae86621ef488435083a4834adc99ad9c3f696cba3a7b4279cebff39982c9e"
  },
  "id": "c5S2dVMugOJ41DSr",
  "tags": []
}